<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Video_converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Video_converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Video_converter.Properties.Settings>
            <setting name="ffmpegLocation" serializeAs="String">
                <value>ffmpegBin\ffmpeg.exe</value>
            </setting>
            <setting name="ffmpegLocation64" serializeAs="String">
                <value>ffmpegBin\ffmpeg64.exe</value>
            </setting>
            <setting name="libvpxVersion" serializeAs="String">
                <value>0.9.1</value>
            </setting>
            <setting name="libx264Version" serializeAs="String">
                <value>1629</value>
            </setting>
            <setting name="libtheoraVersion" serializeAs="String">
                <value>1.1.1</value>
            </setting>
            <setting name="ffmpegVersion" serializeAs="String">
                <value>24417</value>
            </setting>
        </Video_converter.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Video_converter.Properties.Settings>
            <setting name="use64bitFfmpegIfIsSupported" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="supportedFileExtension" serializeAs="String">
                <value>*.avi;*.mp4;*.wmv;*.ogv;*.webm;*.mkv;*.flv;*.mov;*.3gp;*.mpg</value>
            </setting>
            <setting name="numberOfPass" serializeAs="String">
                <value>2</value>
            </setting>
        </Video_converter.Properties.Settings>
    </userSettings>
</configuration>
